body {
    font-family: Arial, sans-serif;
    margin: 0; /* body의 기본 마진 제거 */
    padding: 0; /* body의 기본 패딩 제거 */
}

h1 {
    font-size: 40px;
    font-weight: bold;
    background-color: #191970;
    color: #ffffff;
    padding: 35px;
    display: inline-block; /* 블록 요소로 설정 */
    width: 100%; /* 전체 너비로 설정 */
    text-align: center; /* 가운데 정렬 */
    margin-top: 0; /* 제목의 상단 여백 설정 */
    margin-bottom: 0; /* 제목의 하단 여백 제거 */
}

#logo_img {
    width: 110px; /* 원하는 너비로 설정 */
    height: 110px; /* 높이는 자동 조절 */
    position: absolute; /* 부모 요소 기준으로 위치 지정 */
    top: 8px; /* 원하는 위치로 조정 */
    left: 300px; /* 원하는 위치로 조정 */
}

.container {
    position: relative; /* 부모 요소의 위치를 상대적으로 설정합니다. */
    width: 100%;
    max-width: 800px;
    height: 80vh; /* 화면 전체 높이를 채우기 위해 추가 */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

#roomButtons {
    text-align: center; /* 버튼을 수평 중앙에 정렬합니다. */
    flex-direction: column;
    margin-top: 14%;
}

#roomButtons button {
    margin: 30px;
    padding: 40px 40px;
    background-color: #242488;
    cursor: pointer;
    border: 5px solid #242488;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.173);
    color: white; /* 텍스트 색상을 하얀색으로 설정 */
    border-radius: 8px;
}

#roomButtons button:hover {
    background-color: #5f5fbc; /* 마우스를 올렸을 때 배경색 변경 */
    border: 5px solid #5f5fbc;
}

/* 모달 배경 스타일 */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 2;
    width: 90%; /* 모달 너비를 90%로 확대 */
    max-width: 800px; /* 최대 너비 설정 */
    height: 70%; /* 모달 높이를 70%로 확대 */
    max-height: 400px; /* 최대 높이 설정 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 모달 그림자 추가 */
    text-align: center;
    overflow-y: auto; /* 모달 내부 스크롤 활성화 */
    justify-content: center;

    
}

/* 모달 닫기 버튼 스타일 */
#closeModalBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

#closeModalBtn:hover {
    color: #000;
}

#roomDetails {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.room-description {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    padding: 0px 20px;
    border-top: 1px solid #ddd;
}

#roomImage {
    width: 100%; /* 이미지를 모달 너비에 맞춤 */
    max-width: 90%; /* 최대 너비 설정 */
    height: auto; /* 높이를 자동으로 설정 */
    max-height: 70%; /* 최대 높이 설정 */
    margin: 10px 0;
}

#roomLocation {
    text-align: left;
    margin-left: 30px;
}

#room1, #room2, #room4 {
    font-size: 20px;
    font-weight: bold;
}
#roomLocation {
    font-size: 49px; /* 텍스트 크기 증가 */
    font-weight: bold; /* 텍스트 볼드체로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
#roomDescription.description {
    font-size: 30px;
    font-weight: bold;
    margin-top: 1.5%;
}
#roomImage.room-image{
    margin-top: 18%;
}
/* 모달 닫기 버튼 스타일 */
#closeModalBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

#closeModalBtn:hover {
    color: #000;
}

/* 예약하기 버튼 스타일 */
#reserveBtn {
    position: absolute;
    bottom: 80px; /* 모달 하단에서 20px 위로 */
    left: 50%;
    font-weight: bold;
    transform: translateX(-50%); /* 버튼을 가로축 중앙 정렬 */
    padding: 13px 23px; /* 버튼의 내부 여백 */
    background-color: #242488; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 커서 포인터로 변경 */
}

#reserveBtn:hover {
    background-color: #5f5fbc; /* 마우스를 올렸을 때 배경색 변경 */
}
/* 모달 내부 요소 중앙 정렬 */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* 모달 버튼 위치 설정 */
#reserveBtn {
    margin-top: auto; /* 다른 내용들 위로 버튼을 이동시킵니다. */
}
#roomImage.room-image{
    display: flex;
    margin-left: 40px;
    margin-top: 110px;
}
