body,
html {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, #ffffff 2.5%, #b4b4bf);

}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #4a4772;
    color: #ffffff;
    width: 90%;
    margin: 0 auto; /* 중앙 정렬 및 좌우 여백 자동 */
    margin-top: 10px;
    border-radius: 8px;
}



.container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    /* Adjust based on header height */
    max-width: 800px;
    
}

.back-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 350px;
  background-color: #f0f0f0;
  border-radius: 8px;
  /* Light grey background for visibility */
  border: 1px solid #ccc;
  /* Optional border */
  margin-top: 55px;
}

.room-image {
  width: 100%;
  height: auto;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex; /* 초기에는 숨김 */
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin: auto;
    background-color: white;
    width: 600px;
    max-width: 90%; /* 화면이 작아질 경우 대비하여 최대 너비 설정 */
    height: auto;
    z-index: 20;
    display: none; /* 초기에는 숨김 */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.close-btn:hover {
  color: #f00;
  /* Color change on hover to indicate interactiveness, adjust as needed */
}

/* Hide the modal by default */
.modal-background,
.modal {
  display: none;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#calendar-container {
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.fc-content,
.fc-title,
.fc-day-number {
  font-size: 10px;
}

.fc-button {
  padding: 4px 6px;
  font-size: 10px;
}

.fc-view>table {
  min-height: 200px;
}


#time-container {
  display: flex;
  justify-content: center;
  /* Center the buttons horizontally */
  margin-top: 10px;
}

#time-container button {
  margin: 0 10px;
  /* Spacing between buttons */
}

#submit-container {
  text-align: center;
  /* Center the submit button */
  margin-top: 20px;
}

#logo_img {
    height: 100px;
    width: 100px;

}